.hero__text {
    margin-bottom: 30px;
    text-align: center;
    color: var(--main-background-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero__btn {
    padding: 10px 32px;
    color: var(--main-background-color);
    border: 1px solid var(--cursor);
    background-color: var(--cursor);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    transition: color var(--animation);
    &:hover,
&:focus {
    background: #168ff0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
}

