.overlay {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--main-background-color);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateY(101%);
    transition: transform var(--animation), visibility var(--animation),
        opacity var(--animation);
}

.project__item:hover .overlay {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

.project__link {
    text-decoration: none;
}

.project__picture {
    position: relative;
    overflow: hidden;
}

.overlay__text {
    font-weight: 400;
    font-size: 18px;
    padding: 63px 24px;
    line-height: 1.55;
    letter-spacing: 0.03em;
}