.subscribe {
    display: flex;
    margin-left: 93px;
    align-items: flex-end;
    width: 570px;
    height: 86px;
}

.subscribe__block {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.subscribe__field {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    color: rgba(255, 255, 255, 0.6);
    background-color: var(--background-hero-footer);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.subscribe__text {
    color: var(--main-background-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-background-color);
    margin-bottom: 20px;
}